---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.subscribe-button {
    border-radius: 30px;
    padding: 0px 15px;
}

.author-image {
    top: 10px;
}

.back-button {
    border-radius: 30px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
